<ion-header>
  <ion-toolbar>
    <ion-title>View</ion-title>
    <ion-button routerLink='/welc' shape="round">
      <ion-icon slot="start" name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card >
    <img src='./assets/icon/{{dataSrv.newList.photo}}'/>
    <ion-card-header>
          <ion-card-subtitle>Brand</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.brand}}</ion-card-title>
          <ion-card-subtitle>Series</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.type}}</ion-card-title>
          <ion-card-subtitle>Display Size</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.displaySize}}</ion-card-title>
          <ion-card-subtitle>Operating System</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.os}}</ion-card-title>
          <ion-card-subtitle>Processor Count</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.ProcessorCount}}</ion-card-title>
          <ion-card-subtitle>HardDisk</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.hard}}</ion-card-title>
          <ion-card-subtitle>RAM</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.ram}}</ion-card-title>
          <ion-card-subtitle>Price</ion-card-subtitle>
          <ion-card-title>{{dataSrv.newList.price}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
  <ion-button routerLink='/welc' shape="round">
    Back
  </ion-button>
        </ion-card-content>
  </ion-card>
</ion-content>
