
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
   <ion-buttons slot="start">
     <ion-button (click)="onClick()">
       <ion-icon slot="start" name="ellipsis-vertical-outline"></ion-icon>
     </ion-button>
   </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink='/cart'>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Enter Item Name" inputmode="decimal" type="decimal" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="always"></ion-searchbar>
   <ion-grid>
    <ion-row>
      <ion-col *ngFor='let x of dataSrv.items| async; let i=index'>
        <ion-card>
          <img src='./assets/icon/{{x.photo}}' width="50%" height="50%" style="align-content: center;"/>
          <ion-card-header>
                <ion-card-subtitle>Type</ion-card-subtitle>
                <ion-card-title>{{x.type}}</ion-card-title>
                <ion-card-subtitle>Price</ion-card-subtitle>
                <ion-card-title>{{x.price}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-button (click)="addCart(i)" shape="round">
                  AddToCart
                </ion-button>
                <ion-button (click)="viewItem(i,x)"  routerLink='/view/{{i}}' routerDirection="forward" shape="round">
                  View
                </ion-button>
                <ion-button (click)="Compare(i)" color='danger'shape="round">
                  Compare Item
                </ion-button>
              </ion-card-content>
        </ion-card>
      </ion-col>
</ion-row>
</ion-grid>
</ion-content>
