<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UobStore
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="background">
      <div class="ion-text-end">
        <p style="text-align: center;font-family: fantasy;font-size: 50px;">Welcome To <br>UobStore</p>
      </div>
      <br>
    
     <center>
      <img src='../assets/icon/icon.jpg' width="40%" height="20%" style="padding-left: 20px; ">
   <br>
   <br>
   <br>
   <br>
      <ion-button (click)='login()'  shape="round">
    Alreary a customer? Sign in
  </ion-button><br>
  <ion-button routerLink='/register'  shape="round">
    New to Al-Hamama? Create an account
    </ion-button>
   </center>

  </ion-content>
